<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" href="#">
        <img src="../../assets/images/news.png" alt="Logo" width="180" height="70" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-5 ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="general" routerLinkActive="active">general</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="business" routerLinkActive="active">business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="entertainment" routerLinkActive="active">entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="health" routerLinkActive="active">health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="science" routerLinkActive="active">science</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="sports" routerLinkActive="active">sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="technology" routerLinkActive="active">technology</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>